.boton_editar_imagenes {
    border: solid 3px #0d0004;
    padding: 7px;
    background: white;
}

.input_nuevo, .contenedor_costo, .form_servicio_youtube, .input_desc_servicio_facturacion, .input_servicio_color, .input_cantidad {
    display: none;
}

.text_agregar_color {
    color: #010127;
    font-size: 1.3em;
}

.icon-pencil {
    margin-left: 10px;
}

.fa-youtube-play {
    color: red;
}

.contenedor_imagen_muestra_producto {
    border-style: solid;
    position: absolute;
    z-index: 2000;
    color: white;
    background: black;
}


.form_servicio_nombre_info {
    display: none;
}

.tag_catalogo {
    background: #295d98;
    padding: 3px;
    color: white;
    margin-top: 10px;
    border-radius: 4px;
    font-size: .95em;
}

.tag_catalogo:hover {
    cursor: pointer;
    background: #002d60;
}

.invitacion_registro_telefono {
    color: white !important;
}

.add_phone {
    background: #060436;
    font-size: .9em;
    padding: 3px;
}

.hr_producto {
    display: none;
}

.texto_ventas_titulo {
    font-weight: bold;
    color: black;
}

.url_youtube_alert {
    background: red;
    padding: 10px;
    color: white;
}

.text_articulos_disponibles {
    background: #2a5790 !important;
    padding: 5px;
    color: white;
}


.mjs_articulo_no_disponible {
    background: red;
    padding: 3px;
    color: white;
}


.num_clasificacion option:hover {
    cursor: pointer;
    color: white;
    background: black;
}

.text_deseas_anunciar {
    font-weight: bold;
}


.num_clasificacion_phone {
    margin-top: 25px !important;
}

.nav > li > a {
    padding: 5px !important;
    color: black !important;
}

.nav-tabs > li {
    min-width: 25px !important;
}

.guardar_video_btn, .es_nuevo, .es_disponible {
    width: 100% !important;
    background: black !important;
    padding: 5px;
    color: white;
}


.ciclo_facturacion {
    width: 100%;
}

.btn_guardar_ciclo_facturacion, .btn_precio_servicio,
.btn_guardar_desc {
    width: 100% !important;
    background: black !important;
    padding: 5px;
    color: white;
    margin-bottom: 50px;
    margin-top: 20px;
}

.mxn {
    font-size: 2em;
    margin-left: 10px;
    font-weight: bold;
    color: #02233c;
}

.table_info_precios {
    width: 30%;

}

.info_comision_venta_total {
    font-weight: bold;
    font-size: 1.5em;
}

.info_ganancia {
    background: #0468e9;
    color: white;
}

.informacion_costo {
    background: #f7fafc;
}

.a_precio_unidad {
    font-weight: bold;
    color: black !important;
}

.informacion_costo_envio {
    font-weight: bold;
    color: black !important;
}


@media only screen and (max-width: 768px) {

    .text_deseas_anunciar {
        font-size: 1em;
        padding: 5px;
        color: white;
        font-weight: bold;
        background: #07206b !important;
    }

    .btn_guardar_ciclo_facturacion {
        width: 100% !important;
        background: black !important;
        padding: 5px;
        color: white;
        margin-bottom: 50px;

    }

    .info_recoge_en_casa, .info_telefonos_visibles {
        margin-top: 30px;
    }

    .contenedor_infor_telefonos {
        margin-top: 30px;
    }

    .info_comision_venta {
        padding: 5px;
    }

    .informacion_costo_envio {
        margin-top: 40px;
    }

    .hr_producto {
        display: block;
    }

}
